@import '../../../styles/main';

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 1rem;
  padding: 10rem;
  border-radius: 1rem;
  line-height: 2;
  background: $white;
}

.modal_item {
  display: block;
}
